src/main/mule/pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cd33c453-46e0-4742-bf80-2430430d8fa4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pipelineFlow" doc:id="e84da73e-1f28-4869-a4e5-548dfab22887" >
		<http:listener doc:name="Listener" doc:id="b4150cfb-d259-43ef-9ac4-132ce8f1d3e2" config-ref="HTTP_Listener_config" path="/*"/>
		<ee:transform doc:name="Transform Message" doc:id="84b81989-65c3-425c-b166-413921f06d66" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="5346a71a-bb2c-493a-9a38-c7d8e27507ed" >
			<when expression='#[payload == "si"]'>
				<ee:transform doc:name="Transform Message" doc:id="c2ae8e46-ed90-4f8f-9860-12f7769bcb05" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"si"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="864432b7-6786-4b2b-9e46-c8b2a45d3961" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"no"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
